@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b1b20;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.label {
  font-size: 64px;
  font-weight: bold;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.btn-add {
  display: inline-block;
  width: 192px;
  color: white;
  margin-bottom: 30px;
  background-color: #fe5100;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-add:active {
  transition-duration: 0.01s;
  transform: scale(1.05);
}

.donates-container {
  margin-top: 50px;
  width: 419px;
}

.donate {
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  border: 1px solid #fe5100;
  border-radius: 5px;
}

.name {
  display: inline-block;
  width: 190px;
}

.amount {
  display: inline-block;
  width: 50px;
}

.createdAt {
  display: inline-block;
  margin-left: 50px;
}

.total {
  color: white;
  font-size: 24px;
}

.info {
  margin-top: 50px;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}
